.skills{
    background: linear-gradient(180deg, #a0d9f3 25%, rgb(255, 207, 0, 0.9) 25%);

    /* background: url(./img/bg.png)no-repeat center center; */
    background-size: 100% 100%;
    padding: 10% 0 4%;
}
@media (max-width:600px){
    .skills {
        padding: 4% 0 8%;
        background: linear-gradient(180deg, #a0d9f3 25%, rgba(255, 207, 0, 0.9) 25%);
    }
}
.skills h1{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2px;
}
.brush{
    background: url(./img/brush.png)no-repeat;
    display: inline-block;
    background-size: 100% 100%;
    padding: 46px 100px;
}
.skill-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}
.skill-marquee{
    overflow: hidden;
    mask-image: linear-gradient(to right,hsl(0 0% 0% / 0),hsl(0 0% 0% / 1) 20%,hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0));
    display: flex;
}
.skill-group{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-top: 1%;
    animation: scroll-x 60s linear infinite;
}
@media (min-width: 600px) and (max-width: 1024px) {
    .skill-group {
        margin-bottom: 3%;
    }
}
@media (max-width:600px){
    .skill-group{
        margin-bottom: 3%;
        margin-right: 1%;
        margin-top: 1%;
    }
}
@keyframes scroll-x {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
    }
    .skill-marquee-reverse .skill-group{
      animation-direction: reverse;
      animation-delay: -3s;
    }
.skill{
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15), 0 0 0 0 rgba(0, 0, 0, .15), 0 -3px 3px 0 rgba(0, 0, 0, .15),
     0 0 0 0 rgba(0, 0, 0, .15);
    font-weight: 700;
    text-align: center;
    color: #444;
    font-size: 16px;
    padding: 20px 40px;
    text-transform: uppercase;
}
